# Directory to store the Terraform plan files
*.tfplan
*.tfplan.*

# State files
*.tfstate
*.tfstate.*
**/.DS_Store

# Lock file
.terraform.lock.hcl

# Terraform module directory
**/.terraform/*

# Ignore all .tfvars files that might contain sensitive data, such as passwords,
# keys, and other secrets. You'll manually add exceptions as needed.
*.tfvars
*.tfvars.json

# Logs
crash.log
terraform.log

# Exclude override files as they are usually used for local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc
